body{
font-family: Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:black;
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.cart{
font-size:18px;
}

.hero{
text-align:center;
padding:50px;
background:#f4f4f4;
}

.products{
display:flex;
justify-content:space-around;
padding:30px;
flex-wrap:wrap;
}

.product{
border:1px solid #ddd;
padding:20px;
width:250px;
text-align:center;
margin:10px;
}

.product img{
width:100%;
height:200px;
object-fit:cover;
}

button{
background:black;
color:white;
padding:8px;
border:none;
margin:5px;
cursor:pointer;
}

.contact{
text-align:center;
padding:30px;
background:#f4f4f4;
}

footer{
text-align:center;
background:black;
color:white;
padding:15px;
}
