.hero{
background:linear-gradient(to right,#000,#444);
color:white;
padding:80px;
text-align:center;
}

.featured{
padding:40px;
text-align:center;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

footer{
background:black;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
