body{
font-family: Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

.hero{
text-align:center;
padding:60px;
background:#f4f4f4;
}

button{
background:black;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

.categories{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
padding:20px;
}

.category{
background:black;
color:white;
padding:20px;
text-decoration:none;
border-radius:10px;
}

.products{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.product{
border:1px solid #ddd;
padding:20px;
width:200px;
text-align:center;
}

.product img{
width:100%;
height:200px;
object-fit:cover;
}

.payment{
text-align:center;
padding:40px;
}

.contact{
text-align:center;
padding:40px;
}
